
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careerbuild profile </title>
    <link rel="icon" type="image/gif/png/jfif" href="../static/images/th.jfif">
    <script src="https://kit.fontawesome.com/7bb9495e7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profilestyles.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    <script src="{{ url_for('static', filename='chatbot.js')}}"></script>

      
</head>
<body id="body">

    <div class="menu_icon" id="menu">
        <div class="first_div"></div>
        <div class="second_div"></div>
        <div class="third_div"></div>
    </div>

    <header>
        <div class="brand_box" style="cursor: pointer;">
            <b style="color:red;">CAREERBUILD</b>
        </div>
        <nav>
            <ul class="nav_links" id="nav_links">
                <li class="nav_link"><a href="/jobs">Contact info 💥</a></li>
                {% if session['email'] %}
                <li class="nav_link special_link" id="special_link"><a href="/profile" id="contact_link">Your Profile 😎</a></li>
                {% else %}
                <li class="nav_link special_link" id="special_link"><a href="/register" id="contact_link">Login / Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="myprofile">
        <div class="header">
            <p class="head">{{ smsg }}</p>
            <p class="head">Welcome Back!</p>
        </div>
        <div class="body">
            <div class="profiles">
                <div class="profile" style="text-align: center;" >
                   
                    <div  id="cont"  >

                        <p class="profile_title"> {{ session['name'] }}<span class="job_category"></span></p>
                        <a class="profile_title" style="text-align: center; display: block; margin-top: 16px;" href="mailto:{{session['email']}}">{{session['email']}}</a>
                        <a class="profile_title" style="text-align: center; display: block; margin-top: 16px;" href="tel:{{session['number']}}">{{session['number']}}</a> 
                        <a class="nav_link special_link" onclick="loader()" id="special_link" style="text-align: center; display: block; margin-top: 16px;" href="/exploreJobs">Click here to find jobs</a>
                        <p class="profile_company" onclick="location.href='#'"></p>

                    </div>
                   
                   <div id="load" style="display:none;">
                        <img width="auto" height="auto" src="../static/images/spinner.gif" alt="laoder">
                        <h2 class="msgline" style="color:teal" >Loading....</h2>
                    </div>

                </div>   

            </div>
        </div>
    </div>

    <div class="footer">
        <div class="header">
            <form action="{{url_for('logout')}}">
            <p class="description" style="cursor:pointer; text-align: center;;" onclick="location.href='/logout';"><button type="submit" name="logout" class="button_send" style="margin:16px auto; text-align: center; cursor: pointer;">LOGOUT</button></p>
            </form>
        </div>
    </div>


</body>    

<script>

var bd=document.getElementById('cont');

var spinner=document.getElementById('load');


function loader(){


bd.style.display="none";

spinner.style.display="block";

    console.log("clicked");

}


window.addEventListener('unload', function () {  

    bd.style.display="block";
    spinner.style.display="none";

})

</script>
